*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/convention/build/
/build-logic/convention/build/classes/kotlin/main/
/core/ads/build/
/core/common/build/
/core/common/build/classes/kotlin/main/
/core/ui/build/
/data/database/build/
/data/network/build/
/data/network/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/domain/build/
/domain/build/classes/kotlin/main/
/feature/compendium/build/
/feature/hub/build/
/feature/ignition/build/
/feature/loadout/build/
/feature/outreach/build/
/feature/showcase/build/
/feature/spotlight/build/
/feature/stash/build/
/feature/walkthrough/build/
/navigation/build/